In [182]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [183]:
audible=pd.read_csv('F:\\d_data\\New folder\\New folder (8)\\audible_uncleaned.csv')
audible

# we have almost 87k records and 8 colomn
#

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2004-08-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2001-05-18,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2006-11-20,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2005-10-21,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2013-01-10,English,4.5 out of 5 stars181 ratings,820
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,2009-03-17,English,Not rated yet,596
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,2021-02-17,English,Not rated yet,820
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,1930-12-16,English,Not rated yet,938
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,2023-02-11,English,Not rated yet,680
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,2007-03-17,English,Not rated yet,569

In [184]:
audible.shape
# There are almost 87k records and 8 colomns

(87489, 8)

In [185]:
audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [186]:
audible['releasedate']

0        2004-08-08
1        2001-05-18
2        2006-11-20
3        2005-10-21
4        2013-01-10
            ...
87484    2009-03-17
87485    2021-02-17
87486    1930-12-16
87487    2023-02-11
87488    2007-03-17
Name: releasedate, Length: 87489, dtype: object

In [187]:
pd.to_datetime(audible['releasedate'])

ValueError: time data "26-10-2000" doesn't match format "%Y-%m-%d", at position 386. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [188]:
# time data "26-10-2000" doesn't match format "%Y-%m-%d", at position 386.
audible['releasedate'][audible['releasedate']=="26-10-2000"]

968      26-10-2000
3734     26-10-2000
7699     26-10-2000
11716    26-10-2000
14314    26-10-2000
17798    26-10-2000
21165    26-10-2000
21879    26-10-2000
21964    26-10-2000
26142    26-10-2000
38166    26-10-2000
46913    26-10-2000
47070    26-10-2000
48296    26-10-2000
49147    26-10-2000
49676    26-10-2000
53823    26-10-2000
54228    26-10-2000
69443    26-10-2000
Name: releasedate, dtype: object

In [189]:
corrected_dates = []

for i in audible['releasedate']:
    try:
        f_date = pd.to_datetime(i, format='%d-%m-%Y', errors='raise')
    except ValueError:
        try:
            f_date = pd.to_datetime(i, format='%Y-%m-%d', errors='raise')
        except ValueError:
            try:
                f_date = pd.to_datetime(i, format='%d-%m-%y', errors='raise')
            except ValueError:
                f_date = pd.NaT
    corrected_dates.append(f_date)

audible['releasedate'] = corrected_dates

In [190]:
audible

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2004-08-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2001-05-18,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2006-11-20,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2005-10-21,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2013-01-10,English,4.5 out of 5 stars181 ratings,820
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,2009-03-17,English,Not rated yet,596
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,2021-02-17,English,Not rated yet,820
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,1930-12-16,English,Not rated yet,938
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,2023-02-11,English,Not rated yet,680
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,2007-03-17,English,Not rated yet,569

In [191]:
audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 5.3+ MB

In [192]:
audible['time']

0         2 hrs and 20 mins
1         13 hrs and 8 mins
2          2 hrs and 3 mins
3        11 hrs and 16 mins
4                    10 hrs
                ...
87484     7 hrs and 34 mins
87485     10 hrs and 7 mins
87486     19 hrs and 4 mins
87487      4 hrs and 8 mins
87488       6 hrs and 1 min
Name: time, Length: 87489, dtype: object

In [193]:
audible['time'][0]

'2 hrs and 20 mins'

In [194]:
# convert '2 hrs and 20 mins' into 2:30:00

In [195]:
def convert_time(time_str):
    parts = time_str.split()
    hours = 0
    minutes = 0
    print(parts)

    for i in range(len(parts)):
        if parts[i] == 'hrs' or parts[i] ==  'hr':
            hours = int(parts[i - 1])
            print(hours)
        elif parts[i] == 'mins':
            minutes = int(parts[i - 1])
            print(minutes)

    return f'{hours:02}:{minutes:02}:00'

In [196]:
def convert_time(time_str):
    parts = time_str.split()
    hours = 0
    minutes = 0
    
    for i in range(len(parts)):
        if parts[i] == 'hrs' or parts[i] ==  'hr':
            hours = int(parts[i - 1])
        elif parts[i] == 'mins':
            minutes = int(parts[i - 1])
    return f'{hours:02}:{minutes:02}:00'
    
audible['time']=audible['time'].apply(convert_time)

In [197]:
audible

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,02:20:00,2004-08-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13:08:00,2001-05-18,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,02:03:00,2006-11-20,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11:16:00,2005-10-21,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10:00:00,2013-01-10,English,4.5 out of 5 stars181 ratings,820
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,07:34:00,2009-03-17,English,Not rated yet,596
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10:07:00,2021-02-17,English,Not rated yet,820
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19:04:00,1930-12-16,English,Not rated yet,938
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,04:08:00,2023-02-11,English,Not rated yet,680
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,06:00:00,2007-03-17,English,Not rated yet,569

In [198]:
audible.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,02:20:00,2004-08-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13:08:00,2001-05-18,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,02:03:00,2006-11-20,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11:16:00,2005-10-21,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10:00:00,2013-01-10,English,4.5 out of 5 stars181 ratings,820

In [199]:
audible['author']=audible['author'].str.split(':').str.get(1)

In [200]:
audible.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,Narratedby:BillLobely,02:20:00,2004-08-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,RickRiordan,Narratedby:RobbieDaymond,13:08:00,2001-05-18,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,JeffKinney,Narratedby:DanRussell,02:03:00,2006-11-20,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,RickRiordan,Narratedby:SoneelaNankani,11:16:00,2005-10-21,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,Narratedby:JesseBernstein,10:00:00,2013-01-10,English,4.5 out of 5 stars181 ratings,820

In [201]:
audible['narrator']=audible['narrator'].str.split(':').str.get(1)

In [202]:
audible.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,02:20:00,2004-08-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,RickRiordan,RobbieDaymond,13:08:00,2001-05-18,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,JeffKinney,DanRussell,02:03:00,2006-11-20,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11:16:00,2005-10-21,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10:00:00,2013-01-10,English,4.5 out of 5 stars181 ratings,820

In [203]:
audible['stars']

0           5 out of 5 stars34 ratings
1         4.5 out of 5 stars41 ratings
2         4.5 out of 5 stars38 ratings
3         4.5 out of 5 stars12 ratings
4        4.5 out of 5 stars181 ratings
                     ...
87484                    Not rated yet
87485                    Not rated yet
87486                    Not rated yet
87487                    Not rated yet
87488                    Not rated yet
Name: stars, Length: 87489, dtype: object

In [204]:
audible['stars'].str.split('stars')

0           [5 out of 5 , 34 ratings]
1         [4.5 out of 5 , 41 ratings]
2         [4.5 out of 5 , 38 ratings]
3         [4.5 out of 5 , 12 ratings]
4        [4.5 out of 5 , 181 ratings]
                     ...
87484                 [Not rated yet]
87485                 [Not rated yet]
87486                 [Not rated yet]
87487                 [Not rated yet]
87488                 [Not rated yet]
Name: stars, Length: 87489, dtype: object

In [206]:
audible['stars']=audible['stars'].str.split('stars').str.get(0)

In [205]:
audible['ratings']=audible['stars'].str.split('stars').str.get(1)

In [207]:
audible

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,02:20:00,2004-08-08,English,5 out of 5,468,34 ratings
1,The Burning Maze,RickRiordan,RobbieDaymond,13:08:00,2001-05-18,English,4.5 out of 5,820,41 ratings
2,The Deep End,JeffKinney,DanRussell,02:03:00,2006-11-20,English,4.5 out of 5,410,38 ratings
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11:16:00,2005-10-21,English,4.5 out of 5,615,12 ratings
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10:00:00,2013-01-10,English,4.5 out of 5,820,181 ratings
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,07:34:00,2009-03-17,English,Not rated yet,596,NaN
87485,The Alps,StephenO'Shea,RobertFass,10:07:00,2021-02-17,English,Not rated yet,820,NaN
87486,The Innocents Abroad,MarkTwain,FloGibson,19:04:00,1930-12-16,English,Not rated yet,938,NaN
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,04:08:00,2023-02-11,English,Not rated yet,680,NaN
87488,Havana,MarkKurlansky,FleetCooper,06:00:00,2007-03-17,English,Not rated yet,569,NaN

In [208]:
import re

def extract_ratings(rating_str):
    pattern = r'(\d+\.\d+|\d+) out of 5'
    match = re.search(pattern, rating_str)

    if match:
        return match.group(1) 
    else:
        return None
audible['stars']=audible['stars'].apply(extract_ratings)

In [209]:
audible

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,02:20:00,2004-08-08,English,5,468,34 ratings
1,The Burning Maze,RickRiordan,RobbieDaymond,13:08:00,2001-05-18,English,4.5,820,41 ratings
2,The Deep End,JeffKinney,DanRussell,02:03:00,2006-11-20,English,4.5,410,38 ratings
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11:16:00,2005-10-21,English,4.5,615,12 ratings
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10:00:00,2013-01-10,English,4.5,820,181 ratings
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,07:34:00,2009-03-17,English,None,596,NaN
87485,The Alps,StephenO'Shea,RobertFass,10:07:00,2021-02-17,English,None,820,NaN
87486,The Innocents Abroad,MarkTwain,FloGibson,19:04:00,1930-12-16,English,None,938,NaN
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,04:08:00,2023-02-11,English,None,680,NaN
87488,Havana,MarkKurlansky,FleetCooper,06:00:00,2007-03-17,English,None,569,NaN

In [210]:
audible['ratings']=audible['ratings'].str.split(' ').str.get(0)

In [211]:
audible

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,02:20:00,2004-08-08,English,5,468,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13:08:00,2001-05-18,English,4.5,820,41
2,The Deep End,JeffKinney,DanRussell,02:03:00,2006-11-20,English,4.5,410,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11:16:00,2005-10-21,English,4.5,615,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10:00:00,2013-01-10,English,4.5,820,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,07:34:00,2009-03-17,English,None,596,NaN
87485,The Alps,StephenO'Shea,RobertFass,10:07:00,2021-02-17,English,None,820,NaN
87486,The Innocents Abroad,MarkTwain,FloGibson,19:04:00,1930-12-16,English,None,938,NaN
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,04:08:00,2023-02-11,English,None,680,NaN
87488,Havana,MarkKurlansky,FleetCooper,06:00:00,2007-03-17,English,None,569,NaN